<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.7.5" targetFramework="net45" />
  <package id="NLog.Config" version="4.7.5" targetFramework="net45" />
  <package id="NLog.Schema" version="4.7.5" targetFramework="net45" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net45" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net45" />
</packages>